.account_list_container {
    padding: 20px;
}

.account_list_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add_account_btn {
    background-color: #1c1c1c;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 13px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-bottom: 10px;
}

.add_account_btn:hover {
    background-color: #333;
}

.modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal_content {
    position: relative;
    background-color: white;
    padding: 24px;
    border-radius: 8px;
    width: 400px;
    max-width: 50%;
    max-height: 90%;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
}

.close_modal_btn {
    position: absolute;
    top: 8px;
    right: 12px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.form_group input:focus {
    outline: none;
}

.form_group button {
    margin-top: 30px;
    margin-bottom: 0 !important;
}

.form_group select {
    height: 30px;
}

.form_group select:focus {
    outline: none;

}

.form_group_image input {
    height: 40px;
}

.product_form_modal {
    max-height: 90vh;
    overflow-y: auto;
}

.product_form .form_group {
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
}

.product_form .form_group label {
    font-weight: bold;
    margin-bottom: 4px;
}

.product_form input {
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.admin_password_eye i {
    margin-top: 12px;
}